body{
  margin: 0%;
}

.welcome{
  height: 25px;
  padding-top: 10px;
  background-color: rgb(225, 202, 202);   
  
 
}
.logo{
  background-color: rgb(0, 0, 0);
  padding-left: 100px;
}

.navbar{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  
}
li{
  float: left;
  padding-left: 100px;
  padding-top: 10px;

  
}
li a {
  display: block;
  color: #fffbfb;
  padding: 6px 10px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #a49e9ea0;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  width: 80%;
  padding-left: 10px;
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}